<div class="detalle-receta">
  <div class="imagen">
    <img [src]="receta.imagen" alt="{{ receta.nombre }}" />
  </div>
  <div class="contenido">
    <h2>{{ receta.nombre }}</h2>
    <p><strong>Descripción</strong><br />{{ receta.descripcion }}</p>
    <p><strong>Ingredientes</strong><br />{{ receta.ingredientes }}</p>
    <p><strong>Autor de la receta:</strong> {{ receta.autorReceta }}</p>
    <p><strong>Más info:</strong><br />
      Dificultad: {{ receta.dificultad }} |
      Duración: {{ receta.duracion }}<br />
      Categoría: {{ receta.categoria }}
    </p>
  </div>
</div>
